on:
  [push, pull_request]

name: Build

env:
  AWS_REGION: eu-west-1
  CLUSTER: jekyll-contained
  SERVICE: jekyll-contained
  CONTAINER_IMAGE: jekyll-contained:${{ github.sha }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1.0.0

    - name: Setup AWS
      env:
        AWS_HOME: ${{ runner.temp }}/.aws
        AWS_CONFIG_FILE: ${{ runner.temp }}/.aws/config
        AWS_SHARED_CREDENTIALS_FILE: ${{ runner.temp }}/.aws/credentials
      run: |
        mkdir -p "${AWS_HOME}"
        # HACK: Officially we should be using core.exportVariable(...) via Node
        echo "::set-env name=AWS_CONFIG_FILE,::${AWS_CONFIG_FILE}"
        echo "::set-env name=AWS_SHARED_CREDENTIALS_FILE,::${AWS_SHARED_CREDENTIALS_FILE}"
        aws configure set default.region $AWS_REGION
        aws configure set default.output json
        aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws sts get-caller-identity

    - name: Setup ECR
      run: |
        # Login to AWS ECR
        $( aws ecr get-login --region $AWS_REGION --no-include-email )

    - name: Build, tag, and push image
      run: |
        # Build and tag the image
        docker build \
          -t $CONTAINER_IMAGE \
          -t $GITHUB_REPOSITORY:$GITHUB_SHA \
          -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.$AWS_REGION.amazonaws.com/$CONTAINER_IMAGE .
        # Save the image so it can be uploaded as an artifact
        docker save $CONTAINER_IMAGE | gzip > ./jekyll-contained.tar.gz
        # Push image to AWS ECR
        docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.$AWS_REGION.amazonaws.com/$CONTAINER_IMAGE

    - name: Render task definition
      run: |
        # Update task-definition with new image
        export IMAGE=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.$AWS_REGION.amazonaws.com/$CONTAINER_IMAGE
        cat .aws/task-definition.json \
          | jq '.containerDefinitions[0].image |= env.IMAGE' \
          > "${RUNNER_TEMP}/task-definition.json"

    - name: Register task definition
      run: |
        # Register the new task-definition
        TASK_DEFINITION_ARN=$( aws ecs register-task-definition \
          --cli-input-json file://"${RUNNER_TEMP}/task-definition.json" \
          | jq -r '.taskDefinition.taskDefinitionArn' )
        # Deploy new task definition to the existing service
        aws ecs update-service --cluster $CLUSTER --service $SERVICE --task-definition $TASK_DEFINITION_ARN

    - name: Wait for services to stabilize
      run: |
        # Wait for services to stabilize
        aws ecs wait services-stable --cluster $CLUSTER --services $SERVICE

    - name: Report public web address
      run: |
        # Get the task ARN
        TASK_ARN=$( aws ecs list-tasks --cluster $CLUSTER | jq -r '.taskArns[0]' )
        # Get the network interface id
        NETWORK_INTERFACE_ID=$( aws ecs describe-tasks --cluster $CLUSTER --tasks $TASK_ARN \
          | jq -r '.tasks[0].attachments[0].details[] | select(.name == "networkInterfaceId") | .value' )
        # Get the public IP etc
        aws ec2 describe-network-interfaces --network-interface-ids $NETWORK_INTERFACE_ID \
          | jq -r '.NetworkInterfaces[0].Association | .PublicDnsName, .PublicIp'
